{% extends 'base.html' %}

{% block title %}Login - SmartDash{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-form">
        <h2>Login to SmartDash</h2>
        
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required>
            </div>
            
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
            </div>
            
            <button type="submit" class="auth-btn">Login</button>
        </form>
        
        <p class="auth-link">Don't have an account? <a href="/signup">Sign up here</a></p>
    </div>
</div>
{% endblock %}